.card{
    margin: $s-s;
    font-size: $font-l;
    font-weight: bold;
    color: black;
    width: 30rem;
    background-color: $off-white;
    border-radius: $radius-m;
    padding: $s-s;
    box-shadow:  4px 4px 8px 1px  #bbbaba;
    @media only screen and (max-width: $desktop-breakpoint) {
        font-size: $font-m;
        width: 10rem;
    }
}
.card p{
    word-break: break-all;
}
.card-drag{
    color: transparent;
    background-color: rgba(black,0.3);
}