.openDiv{
    position: absolute;
    background: white;
    outline: none;
    box-shadow:  0.5px 0.5px 0.5px 0.5px  #666565;
    border-radius: $radius-m;
    margin-top: 0.5rem;
    margin-left: auto; 
    margin-right: auto; 
    
}