.workSpace{
    @extend .flexRow;
    height: 85%;
    overflow-x: auto;
    @media only screen and (max-width: 750px) {
        height: 80%;
    }
    @media only screen and (max-width: 450px) {
        height: 70%;
    }
    @media only screen and (max-height: 1000px) {
        height: 75%;
    }
    @media only screen and (max-height: 600px) {
        height: 50%;
    }
    @media only screen and (max-height: 300px) {
        height: 30%;
    }
  
}
