html,body{
    font-size: 62.5%;
    height: 100%;
    width: 100%;
  }
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 0;
   margin: 0;
}
button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}
#root{
    background-image: url('../14739.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 100%;
}