// Colors

$light-grey:#c5c5c7;
$green:#5aac44;
$off-white:#ffffff;


// Font Size
$font-xl: 2rem;
$font-l: 1.5rem;
$font-m: 1rem;
$font-s: 0.5rem;

// Spacing
$s-s: 2rem;
$s-m: 3rem;
$s-l: 6rem;
$s-xl: 10rem;
$s-xxl: 12rem;


// input width
$s-input: 10rem;
$m-input: 20rem;
$l-input: 25rem;
$xl-input: 30rem;
//input height
$s-input-h:2rem;
$m-input-h:4rem;
$l-input-h:6rem;

//regular phones
$desktop-breakpoint: 1200px;
$desktop-breakpoint-h:500px;
//ipad-pro size
$ipad-breakpoint: 70rem;

//radius
$radius:3px;
$radius-m:6px;
